<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="maxgametickdifference" value="3"/>
      <add key="maxgametickdrop" value="10"/>
      <add key="differencethreshhold" value="0.1"/>
      <add key="showratios" value="10"/>
      <add key="maxguiderydifference" value="20"/>
      <add key="bottom_align" value="true"/>
      <add key="belgian_mode" value="false"/>
      <add key="verbose" value="false"/>
      <add key="savetofile" value="true"/>
    </appSettings>
</configuration>